/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color:  #777;
    background:  #777;
    width:  960px; 
    font-size:  18px;
  
  }
  
  Header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;

  }

  section {
    padding: 20px;
    margin-bottom:20px;
}
  #T2 {
    background: #ebebeb;
    padding:  20px;
    margin-bottom: 20px;
    color:  #777;
    width:  100%
    
  }
  
  #T3A { 
    background: #ebebeb;
    height: 300px;
    border: 1px solid #eee;
    padding: 20px;
    width:  495px;
    float:  left;

  }

  #T3A_1 { 
    background: #777;
    color: #ebebeb;
    margin-top: 20px;
    width: 450px;
    height: 220px;
    border: 1px solid #6ea3da;
    padding: 20px;

  }
  
  #T3A_2 { 
    background: #ebebeb;
    color: #777;
    position:  relative;
    top: -165px;
    width:  400px;
    height: 50px;
    padding: 10px;
    right:  -25px;
  }

  #T3A_3 { 
    background: #ebebeb;
    color: #777;
    position:  relative;
    width:  400px;
    height:  50px;
    top:  -205px;
    padding:  10px;
    right:  -25px;
  }
  #T3B {
    background: #ebebeb;
    color:  #777;
    height:  300px;
    border: 1px solid #eee;
    padding: 20px;
    width: 440px;
    float: right;
  
  }
  
  footer {
    clear:  both;
    overflow: auto;
    background: #ebebeb;
    color:  #777;
    padding:  20px;
  }
  